.edit-cursor {
    animation: blink 0.5s step-end infinite;
}

.project-thumb {
    width: 100%;
    height: 225px;
    object-fit: cover;
}

.album-object {
    transition: transform 200ms ease-in-out;
    position: relative;
    z-index: 0;
}

.album-object:hover {
    transform: scale(1.15);
    z-index: 100;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}